@* este necesar title? *@
@{
    ViewData["Title"] = "Home Index";
}

@if (ViewBag.Message != null)
{
    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

<h1 class="text-center">Collective Knowledge</h1>

<br />
<br />
<br />

<div class="text-left">
    <a class="btn btn-primary" href="/Categories/Index/">Show Discussion Categories</a>
    <br />
</div>
