html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.custom-border:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.custom-border,
.custom-border:hover,
.custom-border:visited {
    text-decoration: none;
    color: inherit;
}

