@{
    ViewData["Title"] = "Categories Index";
}

@* Afisarea mesajului de validare *@
@if (ViewBag.Message != null)
{
    <h2 class="@ViewBag.Alert p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

<div class="d-flex justify-content-left">
    <a class="btn btn-primary" href="/Home/Index">Back to Main Page</a>
    <br />
    <a class="btn btn-primary" href="/Categories/New">Add New Discussion Category</a>
    <br />
</div>

<br />
<br />
<br />

@foreach (Proiect.Models.Category category in ViewBag.Categories)
{
    <h2>@category.CategoryName</h2>
    <a class="btn btn-primary" href="/Categories/Show/@category.Id">Show Discussion Category</a>

    <br />
    <br />
    <br />
}

