@model Proiect.Models.Category

@{
    ViewData["Title"] = "Categories New";
}

<div class="d-flex justify-content-around bg-light rounded-1">
    <a class="btn btn-primary" href="/Categories/Index/">Back to Categories Index</a>
</div>

<br />
<br />
<br />

<h2 class="bg-light rounded-1">Adding new Discussion Category</h2>

<br />
<br />
<br />

<div class="container mt-5 bg-light rounded-1">
    <div class="row">
        <div class="col-6 offset-3">
            @using (Html.BeginForm(actionName: "New", controllerName: "Categories"))
            {
                @Html.Label("CategoryName", "Category Name")
                <br />
                @Html.TextBox("CategoryName", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CategoryName, null, new { @class = "text-danger" })
                <br />

                <br />
                <button class="btn btn-success" type="submit">Add Discussion Category</button>

                <br />
                <br />
                <br />

                @Html.ValidationSummary(false, "", new { @class = "text-danger"})
            }
        </div>
    </div>
</div>
