@model Proiect.Models.Category

@{
    ViewData["Title"] = "Categories Show";
}

<h2>@Model.CategoryName</h2>

<br />
<br />
<br />

<div class="d-flex justify-content-left">
    <a class="btn btn-primary" href="/Categories/Edit/@Model.Id">Edit Discussion Category</a>
    <br />
</div>

<div class="d-flex justify-content-left">
    <form method="post" action="/Categories/Delete/@Model.Id">
        <button class="btn btn-danger" type="submit">Delete Discussion Category</button>
    </form>
</div>

<div class="d-flex justify-content-left">
    <a class="btn btn-primary" href="/Discussions/New?categoryId=@Model.Id">Add New Discussion to this Category</a>
    <br />
</div>

@*De adaugat o lista cu discutiile pe aceasta categorie (paginata + posibilitate de a sorta dupa nume / popularitate (numar articole?)*@

@foreach (var discussion in Model.Discussions)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    <h2>@discussion.Title</h2>
                    <p>@discussion.Content</p>
                    <small>@discussion.Date</small>
                </div>
                <br>
                <div class="d-flex">
                    <div>
                        <a class="btn btn-outline-primary" href="/Discussions/Show/@discussion.Id"><i class="bi bi-pencil-square"></i>Show Discussion</a>
                    </div>
                    @*
                    <div>
                        <a class="btn btn-outline-primary" href="/Discussions/Edit/@discussion.Id"><i class="bi bi-pencil-square"></i>Edit Discussion</a>
                    </div>
                    <div>
                        <form method="post" action="/Discussions/Delete/@discussion.Id">
                            <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Delete Discussion</button>
                        </form>
                    </div>
                    *@
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
}